.brothery {
  color: rgb(247, 2, 104);
  background-color: lightcoral;
  font-size: 5rem;
}
.amit {
  color: rgb(255, 0, 0);
  background-color: lightcoral;
  font-size: 1rem;
}
.sumit {
  color: rgb(201, 2, 228);
  background-color: lightcoral;
  font-size: 5rem;
}
